[submodule "highlight_indentation/Highlight-Indentation-for-Emacs"]
	path = highlight_indentation/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "prosjekt/prosjekt"]
	path = prosjekt/prosjekt
	url = https://github.com/abingham/prosjekt.git
[submodule "traad/traad"]
	path = traad/traad
	url = https://github.com/abingham/traad.git
[submodule "lisp/modules/codesearch/codesearch"]
	path = lisp/modules/codesearch/codesearch
	url = https://github.com/abingham/codesearch.el.git
