[submodule "highlight_indentation/Highlight-Indentation-for-Emacs"]
	path = highlight_indentation/Highlight-Indentation-for-Emacs
	url = https://github.com/antonj/Highlight-Indentation-for-Emacs.git
[submodule "traad/traad"]
	path = traad/traad
	url = https://github.com/abingham/traad.git
[submodule "prosjekt/prosjekt"]
	path = prosjekt/prosjekt
	url = https://github.com/abingham/prosjekt.git
[submodule "clojure/clojure-mode"]
	path = clojure/clojure-mode
	url = https://github.com/technomancy/clojure-mode.git
